* {
    font-family: "Matemasie", sans-serif;
  font-weight: 600;
user-select: none;}

  
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffd000;
}

h1{
    font-size: 40px;
}
.container {
    text-align: center;
}

#cookie-container {
    margin: 20px 0;
}

#cookie {
    width: 250px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#cookie:active {
    transform: scale(0.9);
}

#score-container {
    font-size: 28px;
    margin-bottom: 20px;
}
#upgrade-button {
    padding: 10px 20px;
    font-size: 22px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 650px;}

#upgrade-button:hover {
    background-color: #ff9900;
}
