* {
    font-family: "Matemasie", sans-serif;
    font-weight: 600;
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4E342E;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3d294;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
}

.auto-clickers, .upgrades {
    background-color:#7f5945f5;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

.auto-clicker-item, .upgrade-item {
    background-color: #fee6bab4;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: none;
}

.auto-clicker-item:hover, .upgrade-item:hover {
    background-color: #ccc;
    transform: translateY(-3px);
}

.auto-clicker-item:active, .upgrade-item:active {
    transform: scale(0.95);
}


.progress-bar-container {
    text-align: center;
    margin-top: 20px;
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 20px;
    height: 20px;
    overflow: hidden;
    margin: 10px 0;
}

.progress {
    background-color: #4caf50;
    height: 100%;
    width: 0;
    transition: width 0.3s ease;
}

#active-upgrades, #active-auto-clickers {
    font-weight: bold;
}

.hidden{
    display: none;
}

#cookie {
    width: 20vw; 
    height: auto; 
    cursor: pointer;
    transition: transform 0.2s ease;
}

#cookie:active {
    transform: scale(0.95);
}

#cookie-section {
    background-color: #7f5945f5;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 0px;
}
 
#cookie-container {
    margin: 20px 0;
    background-color: #fee6bab4;
    border-radius: 50%;
    padding: 20px;
}
 
#cookie {
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
 
#cookie:active {
    transform: scale(0.9);
}
